body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(201, 234, 236);
}

.nav {
  background-color: #4878d8;
  min-height: 100px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: 2rem;
}

.hamburger div {
  background-color: #6fe2ff;
  height: 3px;
  width: 2rem;
  border-radius: 1px;
}
.hamburger div:not(:last-child) {
  margin-bottom: 8px;
}
